.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background-color: cornflowerblue;
  align-content: center;
  align-items: center;
  align-self: center;
  display: flex;
}
.btn {
  color: darkgrey;
  display: inline-block;
}
p {
  font-size: 1rem;
  color: floralwhite;
  display: inline-block;
}
